In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('allvixm-val-data.csv', sep=';')

In [3]:
df.tail()

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result
937,395198,271072-126,"A*02:01,A*29:02,B*44:02,B*44:03,CW*05:01,CW*16...",124602-2660,0,"A*01:01,A*02:01,B*14:02,B*35:01,DRB1*01:01,DRB...",NaN,"DRB1*04:01,DRB1*04:02,DRB1*04:04,DRB1*04:05,DR...",0,1,0,0
938,395190,271072-126,"A*02:01,A*29:02,B*44:02,B*44:03,CW*05:01,CW*16...",194891-2660,0,"A*02:01,A*31:01,B*35:01,B*51:01,DRB1*01:01,DRB...",NaN,-,0,0,0,0
939,395189,271072-126,"A*02:01,A*29:02,B*44:02,B*44:03,CW*05:01,CW*16...",248024-2660,0,"A*02:01,A*02:05,B*14:02,B*44:03,DRB1*01:02,DRB...",-,-,0,0,-,0
940,394853,270914-126,"A*30:02,A*31:01,B*45:01,B*57:03,CW*07:02,CW*16...",210403-2660,0,"A*24:02,A*30:02,B*07:02,B*57:01,DRB1*11:01,DRB...",-,-,0,0,-,0
941,394845,270914-126,"A*30:02,A*31:01,B*45:01,B*57:03,CW*07:02,CW*16...",200701-2660,0,"A*29:02,A*30:02,B*14:02,B*44:03,DRB1*07:01,DRB...",-,-,0,0,-,0

In [4]:
def classificarColuna(nome):
    data_array = [] ## array para pegar todas os dados diferentes da coluna
    dict_dif_data = {} ## dict para classificar os 196 diferentes

    for x in df[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
                
    print(len(data_array))
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df[nome])):
        if str(dict_dif_data[df[nome][x]]) == 'NaN':
            continue
        else:
            df[nome][x] = str(dict_dif_data[df[nome][x]])

In [5]:
classificarColuna('patient_single_cl1')
classificarColuna('patient_single_cl2')

180

/tmp/ipykernel_5068/2922249494.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[nome][x] = str(dict_dif_data[df[nome][x]])

146

In [6]:
df_mod = df

In [7]:
df_mod

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result
0,558716,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",71334-2660,91,"A*29:02,A*30:02,B*51:01,B*58:01,DRB1*13:01,DRB...",0,0,1,1,0,0
1,558658,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",205670-2660,75,"A*02:01,A*02:01,B*15:16,B*40:04,DRB1*07:01,DRB...",1,1,-,-,1,0
2,558657,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",233572-2660,18,"A*03:01,A*23:01,B*07:02,B*07:05,DRB1*07:01,DRB...",2,2,1,0,1,1
3,558656,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",235844-2660,0,"A*02:01,A*30:02,B*35:01,B*45:01,DRB1*07:01,DRB...",3,2,0,0,-,0
4,558655,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",242776-2660,0,"A*03:01,A*23:01,B*35:01,B*45:01,DRB1*01:01,DRB...",3,2,0,0,-,0
...,...,...,...,...,...,...,...,...,...,...,...,...
937,395198,271072-126,"A*02:01,A*29:02,B*44:02,B*44:03,CW*05:01,CW*16...",124602-2660,0,"A*01:01,A*02:01,B*14:02,B*35:01,DRB1*01:01,DRB...",5,145,0,1,0,0
938,395190,271072-126,"A*02:01,A*29:02,B*44:02,B*44:03,CW*05:01,CW*16...",194891-2660,0,"A*02:01,A*31:01,B*35:01,B*51:01,DRB1*01:01,DRB...",5,2,0,0,0,0
939,395189,271072-126,"A*02:01,A*29:02,B*44:02,B*44:03,CW*05:01,CW*16...",248024-2660,0,"A*02:01,A*02:05,B*14:02,B*44:03,DRB1*01:02,DRB...",3,2,0,0,-,0
940,394853,270914-126,"A*30:02,A*31:01,B*45:01,B*57:03,CW*07:02,CW*16...",210403-2660,0,"A*24:02,A*30:02,B*07:02,B*57:01,DRB1*11:01,DRB...",3,2,0,0,-,0
941,394845,270914-126,"A*30:02,A*31:01,B*45:01,B*57:03,CW*07:02,CW*16...",200701-2660,0,"A*29:02,A*30:02,B*14:02,B*44:03,DRB1*07:01,DRB...",3,2,0,0,-,0

In [8]:
def classificarColuna(nome, df_mod):
    data_array = [] ## array para pegar todas os dados diferentes da coluna
    dict_dif_data = {} ## dict para classificar os 196 diferentes

    for x in df_mod[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
                
    print(len(data_array))
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df_mod[nome])):
        if str(dict_dif_data[df_mod[nome][x]]) == 'NaN':
            continue
        else:
            df_mod[nome][x] = str(dict_dif_data[df_mod[nome][x]])

In [9]:
classificarColuna('patient_single_cl1', df_mod)
classificarColuna('patient_single_cl2', df_mod)

180

/tmp/ipykernel_5068/3597276958.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mod[nome][x] = str(dict_dif_data[df_mod[nome][x]])

146

In [10]:
df_mod.head()

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result
0,558716,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",71334-2660,91,"A*29:02,A*30:02,B*51:01,B*58:01,DRB1*13:01,DRB...",0,0,1,1,0,0
1,558658,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",205670-2660,75,"A*02:01,A*02:01,B*15:16,B*40:04,DRB1*07:01,DRB...",1,1,-,-,1,0
2,558657,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",233572-2660,18,"A*03:01,A*23:01,B*07:02,B*07:05,DRB1*07:01,DRB...",2,2,1,0,1,1
3,558656,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",235844-2660,0,"A*02:01,A*30:02,B*35:01,B*45:01,DRB1*07:01,DRB...",3,2,0,0,-,0
4,558655,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",242776-2660,0,"A*03:01,A*23:01,B*35:01,B*45:01,DRB1*01:01,DRB...",3,2,0,0,-,0

In [11]:
def pares(iterable):
    a = iter(iterable)
    return zip(a, a)

In [12]:
for x in range(6):
    df_mod['patient_hla'+str(x)] = " "
    
for x in range(9):
    df_mod['donor_hla'+str(x)] = " "

In [13]:
df_mod.head()

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,...,patient_hla5,donor_hla0,donor_hla1,donor_hla2,donor_hla3,donor_hla4,donor_hla5,donor_hla6,donor_hla7,donor_hla8
0,558716,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",71334-2660,91,"A*29:02,A*30:02,B*51:01,B*58:01,DRB1*13:01,DRB...",0,0,1,1,...,,,,,,,,,,
1,558658,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",205670-2660,75,"A*02:01,A*02:01,B*15:16,B*40:04,DRB1*07:01,DRB...",1,1,-,-,...,,,,,,,,,,
2,558657,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",233572-2660,18,"A*03:01,A*23:01,B*07:02,B*07:05,DRB1*07:01,DRB...",2,2,1,0,...,,,,,,,,,,
3,558656,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",235844-2660,0,"A*02:01,A*30:02,B*35:01,B*45:01,DRB1*07:01,DRB...",3,2,0,0,...,,,,,,,,,,
4,558655,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",242776-2660,0,"A*03:01,A*23:01,B*35:01,B*45:01,DRB1*01:01,DRB...",3,2,0,0,...,,,,,,,,,,

In [14]:
import time

In [15]:
def classificarColuna(nome):
    data_array = [] ## array para pegar todas os dados diferentes da coluna
    dict_dif_data = {} ## dict para classificar os 196 diferentes

    for x in df[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
                
    print(len(data_array))
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df[nome])):
        if str(dict_dif_data[df[nome][x]]) == 'nan':
            continue
        else:
            df[nome][x] = str(dict_dif_data[df[nome][x]])

In [16]:
classificarColuna('patient_single_cl1')
classificarColuna('patient_single_cl2')

180

/tmp/ipykernel_5068/3087468214.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[nome][x] = str(dict_dif_data[df[nome][x]])

146

In [17]:
def dividir_patient_hla(j):
    transform = []
    for i in range(len(df_mod)):
        patient_hla = df_mod['patient_hla'][i].split(",")
        
        if len(patient_hla) < 12:
            for z in range(12 - len(patient_hla)):
                patient_hla.append("-")
                
        for x, y in pares(patient_hla):
            transform.append([x,y])
            
        df_mod['patient_hla'+str(j)][i] = ','.join(transform[j])
        transform = []

In [18]:
def dividir_donor_hla(j):
    transform = []
    for i in range(len(df_mod)):
        donor_hla = df_mod['donor_hla'][i].split(",")
        
        if len(donor_hla) < 18:
            for z in range(18 - len(donor_hla)):
                donor_hla.append("-")
                
        for x, y in pares(donor_hla):
            transform.append([x,y])
            
        df_mod['donor_hla'+str(j)][i] = ','.join(transform[j])
        transform = []

In [19]:
for i in range(6): # vai de 0 a 5
    dividir_patient_hla(i)

/tmp/ipykernel_5068/1264221084.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mod['patient_hla'+str(j)][i] = ','.join(transform[j])

In [20]:
for i in range(9): # vai de 0 a 8
    dividir_donor_hla(i)

/tmp/ipykernel_5068/4112756189.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mod['donor_hla'+str(j)][i] = ','.join(transform[j])

In [21]:
df_mod.drop('id', inplace=True, axis=1)
df_mod.drop('donor_id', inplace=True, axis=1)
df_mod.drop('patient_id', inplace=True, axis=1)
df_mod.drop('patient_cpra', inplace=True, axis=1)
df_mod.drop('patient_hla', inplace=True, axis=1)

In [22]:
df['patient_hla0'] = df['patient_hla0'].str.replace(',','/')
df['patient_hla1'] = df['patient_hla1'].str.replace(',','/')
df['patient_hla2'] = df['patient_hla2'].str.replace(',','/')
df['patient_hla3'] = df['patient_hla3'].str.replace(',','/')
df['patient_hla4'] = df['patient_hla4'].str.replace(',','/')
df['patient_hla5'] = df['patient_hla5'].str.replace(',','/')

for i in range(9):
    df['donor_hla'+str(i)] = df['donor_hla'+str(i)].str.replace(',','/')

In [23]:
df_mod.drop('donor_hla', inplace=True, axis=1)

In [24]:
df_mod.head()

,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result,patient_hla0,patient_hla1,patient_hla2,patient_hla3,...,patient_hla5,donor_hla0,donor_hla1,donor_hla2,donor_hla3,donor_hla4,donor_hla5,donor_hla6,donor_hla7,donor_hla8
0,0,0,1,1,0,0,A*29:02/A*30:02,B*51:01/B*58:01,DRB1*13:01/DRB1*15:01,DRB3*01:01/DRB5*01:01,...,DQB1*06:03/DQB1*06:02,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01
1,1,1,-,-,1,0,A*02:01/A*02:01,B*15:16/B*40:04,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,...,DQB1*02:02/DQB1*06:02,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01
2,2,2,1,0,1,1,A*03:01/A*23:01,B*07:02/B*07:05,DRB1*07:01/DRB1*15:03,DRB4*01:01/DRB5*01:01,...,DQB1*02:02/DQB1*06:02,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01
3,3,2,0,0,-,0,A*02:01/A*30:02,B*35:01/B*45:01,DRB1*07:01/DRB1*13:01,DRB3*01:01/DRB4*01:01,...,DQB1*02:02/DQB1*06:03,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01
4,3,2,0,0,-,0,A*03:01/A*23:01,B*35:01/B*45:01,DRB1*01:01/DRB1*15:01,DRB5*01:01/DQA1*01:01,...,DQB1*06:02/-,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01

In [25]:
df_mod = df_mod[['donor_hla0', 'donor_hla1', 'donor_hla2', 'donor_hla3', 'donor_hla4', 'donor_hla5', 'donor_hla6','donor_hla7','donor_hla8','patient_single_cl1', 'patient_single_cl2', 'patient_mixed_cl1', 'patient_mixed_cl2',
                'epv_result', 'patient_hla0', 'patient_hla1', 'patient_hla2', 'patient_hla3', 'patient_hla4', 'patient_hla5',
                'cdc_result']]

In [26]:
def classificarColunaDfMod(nome):
    data_array = []
    dict_dif_data = {}

    for x in df_mod[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df[nome])):
        if str(dict_dif_data[df_mod[nome][x]]) == 'nan':
            continue
        else:
            df_mod[nome][x] = str(dict_dif_data[df_mod[nome][x]])

In [27]:
df_mod = df_mod[df_mod['patient_mixed_cl1'].str.contains("-") == False]
df_mod = df_mod[df_mod['patient_mixed_cl2'].str.contains("-") == False]
df_mod = df_mod[df_mod['epv_result'].str.contains("-") == False]

In [28]:
df_mod['patient_single_cl1'] = df_mod['patient_single_cl1'].astype('int64')
df_mod['patient_single_cl2'] = df_mod['patient_single_cl2'].astype('int64')
df_mod['patient_mixed_cl1'] = df_mod['patient_mixed_cl1'].astype('int64')
df_mod['patient_mixed_cl2'] = df_mod['patient_mixed_cl2'].astype('int64')
df_mod['epv_result'] = df_mod['epv_result'].astype('int64')
df_mod['cdc_result'] = df_mod['cdc_result'].astype('int64')

In [29]:
def unique(list1):
      
    # insert the list to the set
    list_set = set(df_mod[list1])
    # convert the set to the list
    unique_list = (list(list_set))
    
    return unique_list

In [30]:
donor_hla0 = unique('donor_hla0')
donor_hla1 = unique('donor_hla1')
donor_hla2 = unique('donor_hla2')
donor_hla3 = unique('donor_hla3')
donor_hla4 = unique('donor_hla4')
donor_hla5 = unique('donor_hla5')
donor_hla6 = unique('donor_hla6')
donor_hla7 = unique('donor_hla7')
donor_hla8 = unique('donor_hla8')
patient_single_cl1 = unique('patient_single_cl1')
patient_single_cl2 = unique('patient_single_cl2')
patient_mixed_cl1 = unique('patient_mixed_cl1')
patient_mixed_cl2 = unique('patient_mixed_cl2')
epv_result = unique('epv_result')
cdc_result = unique('cdc_result')

In [31]:
patient_hla0 = unique('patient_hla0')
patient_hla1 = unique('patient_hla1')
patient_hla2 = unique('patient_hla2')
patient_hla3 = unique('patient_hla3')
patient_hla4 = unique('patient_hla4')
patient_hla5 = unique('patient_hla5')

In [32]:
count0 = (df_mod['cdc_result'] == 0).sum()
count1 = (df_mod['cdc_result'] == 1).sum()

In [33]:
df_mod = pd.get_dummies(df_mod)

In [34]:
df_mod.head(10)

,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result,donor_hla0_A*01:01/A*01:01,donor_hla0_A*01:01/A*02:01,donor_hla0_A*01:01/A*03:01,donor_hla0_A*01:01/A*11:01,...,patient_hla5_DQB1*06:03/DQB1*05:02,patient_hla5_DQB1*06:03/DQB1*06:01,patient_hla5_DQB1*06:03/DQB1*06:02,patient_hla5_DQB1*06:03/DQB1*06:03,patient_hla5_DQB1*06:03/DQB1*06:04,patient_hla5_DQB1*06:04/-,patient_hla5_DQB1*06:04/DQB1*06:02,patient_hla5_DQB1*06:04/DQB1*06:04,patient_hla5_DRB4*01:01/DQA1*01:01,patient_hla5_DRB5*01:01/DQA1*01:02
0,0,0,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,2,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,6,4,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,8,6,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,9,7,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,5,8,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
19,10,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,11,9,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,12,10,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.utils import resample,shuffle

In [36]:
count_class_0, count_class_1 = df_mod.cdc_result.value_counts()

df_class_0 = df_mod[df_mod['cdc_result'] == 0]
df_class_1 = df_mod[df_mod['cdc_result'] == 1]

df_class_0_under = df_class_0.sample(count_class_1)
df_test_under = pd.concat([df_class_0_under, df_class_1], axis=0)

df_1_upsampled = resample(df_class_1, random_state=42, n_samples=len(df_class_0), replace=True)
df_upsampled = pd.concat([df_1_upsampled, df_class_0])
df_upsampled.cdc_result.value_counts()

1    287
0    287
Name: cdc_result, dtype: int64

In [37]:
df_upsampled

,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result,donor_hla0_A*01:01/A*01:01,donor_hla0_A*01:01/A*02:01,donor_hla0_A*01:01/A*03:01,donor_hla0_A*01:01/A*11:01,...,patient_hla5_DQB1*06:03/DQB1*05:02,patient_hla5_DQB1*06:03/DQB1*06:01,patient_hla5_DQB1*06:03/DQB1*06:02,patient_hla5_DQB1*06:03/DQB1*06:03,patient_hla5_DQB1*06:03/DQB1*06:04,patient_hla5_DQB1*06:04/-,patient_hla5_DQB1*06:04/DQB1*06:02,patient_hla5_DQB1*06:04/DQB1*06:04,patient_hla5_DRB4*01:01/DQA1*01:01,patient_hla5_DRB5*01:01/DQA1*01:02
609,136,93,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
185,59,2,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
759,156,2,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,73,2,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,77,6,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,5,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
923,5,144,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
929,3,6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
937,5,145,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
938,5,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
labels = df_upsampled['cdc_result'].to_numpy()
df_upsampled = df_upsampled.drop('cdc_result', axis = 1).to_numpy()

X_train, X_test, y_train, y_test = train_test_split(df_upsampled, labels, test_size = 0.40, random_state = 42)

In [39]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (344, 1587)
Training Labels Shape: (344,)
Testing Features Shape: (230, 1587)
Testing Labels Shape: (230,)

In [40]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, Normalizer
from sklearn.decomposition import PCA as sklearnPCA

2022-08-01 15:37:54.795987: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-01 15:37:54.796011: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

WARNING:tensorflow:From /home/isaac/anaconda3/lib/python3.9/site-packages/tensorflow/python/compat/v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [41]:
enter = list(X_train[0].shape)[0]

In [42]:
import numpy as np
import random

In [43]:
y_train = np.expand_dims(y_train,axis=-1)
y_test = np.expand_dims(y_test,axis=-1)

In [49]:
def mlp_confusion_matrix(test,correct):  
    aux, aux2 = [], []
    tp,fp,tn,fn = 0,0,0,0
    
    for i in test:
        aux.append(i[0])
    for j in correct:
        aux2.append(j[0])
    
    test, correct = [],[]
    test, correct = aux, aux2
    
    for i in range(len(test)):
        if test[i] == 0 and correct[i] == True:
            tp += 1
        if test[i] == 0 and correct[i] == False:
            fp += 1
        if test[i] == 1 and correct[i] == False:
            tn += 1
        if test[i] == 1 and correct[i] == True:
            fn += 1
    
    print(f"Confusion Matrix: [[{tp}\t{fp}\n{tn}\t{fn}]]")

In [46]:
print("===========Data Summary===========")
print("Training Data :", X_train.shape)
print("Testing Data :", X_test.shape)

acc_for_mean = []
accur = []

node1 = 600
node2 = 300
node3 = 300

for i in range(1):
    my_seed = random.randint(0, 12000)
    #my_seed = 1606
    stop = []
    print("=========== RUN " + str(i) + "=================================================")
    X = tf.placeholder(tf.float32, [None, 1587])
    Y = tf.placeholder(tf.float32, [None, 1])

    #INPUT
    W1 = tf.Variable(tf.random_normal([1587,node1], seed=my_seed), name='weight1')
    b1 = tf.Variable(tf.random_normal([node1], seed=my_seed), name='bias1')
    layer1 = tf.nn.sigmoid(tf.matmul(X,W1) + b1)

    #HIDDEN 1
    W2 = tf.Variable(tf.random_normal([node1,node2], seed=my_seed), name='weight2')
    b2 = tf.Variable(tf.random_normal([node2], seed=my_seed), name='bias2')
    layer2 = tf.nn.sigmoid(tf.matmul(layer1,W2) + b2)

    #HIDDEN 2
    W3 = tf.Variable(tf.random_normal([node2,node3], seed=my_seed), name='weight3')
    b3 = tf.Variable(tf.random_normal([node3], seed=my_seed), name='bias3')
    layer3 = tf.nn.sigmoid(tf.matmul(layer2,W3) + b3)

    # output
    W4 = tf.Variable(tf.random_normal([node3,1], seed=my_seed), name='weight4')
    b4 = tf.Variable(tf.random_normal([1], seed=my_seed), name='bias4')

    logits = tf.matmul(layer3,W4) + b4
    hypothesis = tf.nn.sigmoid(logits)


    cost_i = tf.nn.sigmoid_cross_entropy_with_logits(logits=logits,labels=Y)
    cost = tf.reduce_mean(cost_i)

    train = tf.train.GradientDescentOptimizer(learning_rate=0.001).minimize(cost)

    prediction = tf.cast(hypothesis > 0.5, dtype=tf.float32)
    correct_prediction = tf.equal(prediction, Y)
    accuracy = tf.reduce_mean(tf.cast(correct_prediction, dtype=tf.float32))

    print("\n============Processing============")
    with tf.Session() as sess:
        sess.run(tf.global_variables_initializer())
        for step in range(500001):
            sess.run(train, feed_dict={X: X_train, Y: y_train})
            loss, acc = sess.run([cost, accuracy], feed_dict={X: X_train, Y: y_train})
            
            if acc >= 100.0:
                print('======== EARLY STOP 100 ============================================')
                break
                
            if step % 100 == 0:
                #loss, acc = sess.run([cost, accuracy], feed_dict={X: X_train, Y: y_train})
                stop.append(acc)
                if len(stop) == 3:
                    if stop[1] + 0.00005 >= stop[2] and stop[1] - 0.00005 <= stop[0]:
                        print('======== EARLY STOP =========')
                        break
                    else:
                        stop = []

                print("Step: {:5}\tLoss: {:.3f}\tAcc: {:.5%}".format(step, loss, acc))

        train_acc = sess.run(accuracy, feed_dict={X: X_train, Y: y_train})
        test_acc,test_predict,test_correct = sess.run([accuracy,prediction,correct_prediction], feed_dict={X: X_test, Y: y_test})

        
        tupla = (train_acc*100, my_seed)
        acc_for_mean.append(train_acc*100)
        accur.append(tupla)
        
        print("\n============Results============")
        print("Model Prediction =", train_acc)
        print("Test Prediction =", test_acc)

print("\n============Final Results============")
print("Best Model Prediction + Seed = ", max(accur))
print("Worst Model Prediction + Seed = ", min(accur))
print("Mean Model Prediction = ", np.mean(acc_for_mean))

===========Data Summary===========
Training Data : (344, 1587)
Testing Data : (230, 1587)
=========== RUN 0=================================================

============Processing============

2022-08-01 15:38:16.047674: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-08-01 15:38:16.047700: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-08-01 15:38:16.047716: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (isaac-Lenovo): /proc/driver/nvidia/version does not exist
2022-08-01 15:38:16.048652: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-08-01 15:38:16.055130: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:354] MLIR V1 optimization pass is not enabled

Step:     0	Loss: 9.153	Acc: 47.67442%

Step:   100	Loss: 2.941	Acc: 50.29070%

Step:   200	Loss: 1.695	Acc: 56.10465%

Step:   300	Loss: 1.140	Acc: 67.44186%

Step:   400	Loss: 0.858	Acc: 74.12791%

Step:   500	Loss: 0.682	Acc: 77.32558%

Step:   600	Loss: 0.556	Acc: 83.13953%

Step:   700	Loss: 0.462	Acc: 86.04651%

Step:   800	Loss: 0.400	Acc: 89.24419%

Step:   900	Loss: 0.354	Acc: 88.37209%

Step:  1000	Loss: 0.317	Acc: 90.11628%

Step:  1100	Loss: 0.286	Acc: 90.11628%

Step:  1200	Loss: 0.259	Acc: 91.56977%

Step:  1300	Loss: 0.236	Acc: 92.73256%

Step:  1400	Loss: 0.216	Acc: 94.18604%

Step:  1500	Loss: 0.200	Acc: 94.76744%

Step:  1600	Loss: 0.186	Acc: 95.63953%

Step:  1700	Loss: 0.174	Acc: 96.22093%

Step:  1800	Loss: 0.164	Acc: 96.22093%

Step:  1900	Loss: 0.155	Acc: 96.22093%

Step:  2000	Loss: 0.147	Acc: 96.51163%

Step:  2100	Loss: 0.140	Acc: 97.09302%

Step:  2200	Loss: 0.133	Acc: 97.09302%
======== EARLY STOP =========

============Results============
Model Prediction = 0.9709302
Test Prediction = 0.8347826

============Final Results============
Best Model Prediction + Seed =  (97.09302186965942, 11316)
Worst Model Prediction + Seed =  (97.09302186965942, 11316)
Mean Model Prediction =  97.09302186965942

In [50]:
mlp_confusion_matrix(test_predict,test_correct)

Confusion Matrix: [[73	4
34	119]]