In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('allvixm-val-data.csv', sep=';')

In [4]:
df.head(10)

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result
0,558716,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",71334-2660,91,"A*29:02,A*30:02,B*51:01,B*58:01,DRB1*13:01,DRB...","A*01:01,A*02:01,A*02:03,A*02:06,A*11:01,A*11:0...","DPB1*01:01,DPB1*05:01,DPB1*03:01,DPB1*06:01,DP...",1,1,0,0
1,558658,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",205670-2660,75,"A*02:01,A*02:01,B*15:16,B*40:04,DRB1*07:01,DRB...","A*01:01,A*23:01,A*24:02,A*24:03,A*80:01","DRB1*13:03,DRB1*12:02,DRB1*14:54,DRB1*14:01,DR...",-,-,1,0
2,558657,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",233572-2660,18,"A*03:01,A*23:01,B*07:02,B*07:05,DRB1*07:01,DRB...","B*35:01,B*51:01,B*53:01,B*78:01",-,1,0,1,1
3,558656,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",235844-2660,0,"A*02:01,A*30:02,B*35:01,B*45:01,DRB1*07:01,DRB...",-,-,0,0,-,0
4,558655,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",242776-2660,0,"A*03:01,A*23:01,B*35:01,B*45:01,DRB1*01:01,DRB...",-,-,0,0,-,0
5,558654,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",235944-2660,49,"A*02:01,A*74:01,B*35:01,B*50:01,DRB1*07:01,DRB...","A*23:01,A*24:02,A*24:03,A*25:01,A*29:01,B*27:0...","DRB1*03:01,DRB1*03:02,DRB1*08:01,DRB1*11:01,DR...",-,-,1,1
6,558653,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",234324-2660,0,"A*29:02,A*68:01,B*35:01,B*35:01,DRB1*07:01,DRB...",-,-,0,0,-,0
7,558652,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",237374-2660,0,"A*02:01,A*30:02,B*07:02,B*44:02,DRB1*07:01,DRB...",-,-,0,0,-,0
8,558651,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",213948-2660,6,"A*02:01,A*23:01,B*41:01,B*44:03,DRB1*07:01,DRB...",NaN,-,1,0,0,0
9,558649,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",217269-2660,0,"A*24:02,A*29:02,B*44:03,B*50:01,DRB1*07:01,DRB...",-,-,0,0,-,0

In [5]:
def classificarColuna(nome):
    data_array = [] ## array para pegar todas os dados diferentes da coluna
    dict_dif_data = {} ## dict para classificar os 196 diferentes

    for x in df[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
                
    print(len(data_array))
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df[nome])):
        if str(dict_dif_data[df[nome][x]]) == 'nan':
            continue
        else:
            df[nome][x] = str(dict_dif_data[df[nome][x]])

In [6]:
classificarColuna('patient_single_cl1')
classificarColuna('patient_single_cl2')

180
146

C:\Users\isac_\anaconda3\envs\gpu2\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df_mod = df

In [8]:
df_mod.head()

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result
0,558716,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",71334-2660,91,"A*29:02,A*30:02,B*51:01,B*58:01,DRB1*13:01,DRB...",0,0,1,1,0,0
1,558658,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",205670-2660,75,"A*02:01,A*02:01,B*15:16,B*40:04,DRB1*07:01,DRB...",1,1,-,-,1,0
2,558657,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",233572-2660,18,"A*03:01,A*23:01,B*07:02,B*07:05,DRB1*07:01,DRB...",2,2,1,0,1,1
3,558656,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",235844-2660,0,"A*02:01,A*30:02,B*35:01,B*45:01,DRB1*07:01,DRB...",3,2,0,0,-,0
4,558655,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",242776-2660,0,"A*03:01,A*23:01,B*35:01,B*45:01,DRB1*01:01,DRB...",3,2,0,0,-,0

In [9]:
def classificarPatientHla():
    for j in range(6): ## 6 novas colunas para patient_hla
        lista = []
        for i in range(len(df_mod['patient_hla'])): ## criação da nova coluna
            patient_hla = df_mod['patient_hla'][i].split(',')
            lista.append(','.join(patient_hla[j:j+2]))
        print(len(lista))
        break
    return

def classificarDonorHla(): # 9 novas colunas para donor_hla
    for j in range(9): 
        lista = []
        for i in range(len(df_mod['donor_hla'])): ## criação da nova coluna
            donor_hla = df_mod['donor_hla'][i].split(',')
            lista.append(','.join(donor_hla[j:j+2]))
        print(len(lista))
        break
    return

In [10]:
classificarPatientHla()
classificarDonorHla()

942
942

In [11]:
def pares(iterable):
    a = iter(iterable)
    return zip(a, a)

In [12]:
for x in range(6):
    df_mod['patient_hla'+str(x)] = " "
    
for x in range(9):
    df_mod['donor_hla'+str(x)] = " "

In [13]:
df_mod.head()

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,...,patient_hla5,donor_hla0,donor_hla1,donor_hla2,donor_hla3,donor_hla4,donor_hla5,donor_hla6,donor_hla7,donor_hla8
0,558716,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",71334-2660,91,"A*29:02,A*30:02,B*51:01,B*58:01,DRB1*13:01,DRB...",0,0,1,1,...,,,,,,,,,,
1,558658,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",205670-2660,75,"A*02:01,A*02:01,B*15:16,B*40:04,DRB1*07:01,DRB...",1,1,-,-,...,,,,,,,,,,
2,558657,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",233572-2660,18,"A*03:01,A*23:01,B*07:02,B*07:05,DRB1*07:01,DRB...",2,2,1,0,...,,,,,,,,,,
3,558656,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",235844-2660,0,"A*02:01,A*30:02,B*35:01,B*45:01,DRB1*07:01,DRB...",3,2,0,0,...,,,,,,,,,,
4,558655,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",242776-2660,0,"A*03:01,A*23:01,B*35:01,B*45:01,DRB1*01:01,DRB...",3,2,0,0,...,,,,,,,,,,

In [14]:
import time

In [15]:
def dividir_patient_hla(j):
    transform = []
    for i in range(len(df_mod)):
        patient_hla = df_mod['patient_hla'][i].split(",")
        
        if len(patient_hla) < 12:
            for z in range(12 - len(patient_hla)):
                patient_hla.append("-")
                
        for x, y in pares(patient_hla):
            transform.append([x,y])
            
        df_mod['patient_hla'+str(j)][i] = ','.join(transform[j])
        transform = []

In [16]:
def dividir_donor_hla(j):
    transform = []
    for i in range(len(df_mod)):
        donor_hla = df_mod['donor_hla'][i].split(",")
        
        if len(donor_hla) < 18:
            for z in range(18 - len(donor_hla)):
                donor_hla.append("-")
                
        for x, y in pares(donor_hla):
            transform.append([x,y])
            
        df_mod['donor_hla'+str(j)][i] = ','.join(transform[j])
        transform = []

In [17]:
for i in range(6): # vai de 0 a 5
    dividir_patient_hla(i)

C:\Users\isac_\anaconda3\envs\gpu2\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [18]:
for i in range(9): # vai de 0 a 8
    dividir_donor_hla(i)

C:\Users\isac_\anaconda3\envs\gpu2\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [19]:
df_mod.drop('id', inplace=True, axis=1)
df_mod.drop('donor_id', inplace=True, axis=1)
df_mod.drop('patient_id', inplace=True, axis=1)
df_mod.drop('patient_cpra', inplace=True, axis=1)
df_mod.drop('patient_hla', inplace=True, axis=1)

In [20]:
df['patient_hla0'] = df['patient_hla0'].str.replace(',','/')
df['patient_hla1'] = df['patient_hla1'].str.replace(',','/')
df['patient_hla2'] = df['patient_hla2'].str.replace(',','/')
df['patient_hla3'] = df['patient_hla3'].str.replace(',','/')
df['patient_hla4'] = df['patient_hla4'].str.replace(',','/')
df['patient_hla5'] = df['patient_hla5'].str.replace(',','/')

for i in range(9):
    df['donor_hla'+str(i)] = df['donor_hla'+str(i)].str.replace(',','/')

In [21]:
df_mod.drop('donor_hla', inplace=True, axis=1)

In [22]:
df_mod.head()

,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result,patient_hla0,patient_hla1,patient_hla2,patient_hla3,...,patient_hla5,donor_hla0,donor_hla1,donor_hla2,donor_hla3,donor_hla4,donor_hla5,donor_hla6,donor_hla7,donor_hla8
0,0,0,1,1,0,0,A*29:02/A*30:02,B*51:01/B*58:01,DRB1*13:01/DRB1*15:01,DRB3*01:01/DRB5*01:01,...,DQB1*06:03/DQB1*06:02,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01
1,1,1,-,-,1,0,A*02:01/A*02:01,B*15:16/B*40:04,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,...,DQB1*02:02/DQB1*06:02,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01
2,2,2,1,0,1,1,A*03:01/A*23:01,B*07:02/B*07:05,DRB1*07:01/DRB1*15:03,DRB4*01:01/DRB5*01:01,...,DQB1*02:02/DQB1*06:02,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01
3,3,2,0,0,-,0,A*02:01/A*30:02,B*35:01/B*45:01,DRB1*07:01/DRB1*13:01,DRB3*01:01/DRB4*01:01,...,DQB1*02:02/DQB1*06:03,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01
4,3,2,0,0,-,0,A*03:01/A*23:01,B*35:01/B*45:01,DRB1*01:01/DRB1*15:01,DRB5*01:01/DQA1*01:01,...,DQB1*06:02/-,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01

In [23]:
df_mod = df_mod[['donor_hla0', 'donor_hla1', 'donor_hla2', 'donor_hla3', 'donor_hla4', 'donor_hla5', 'donor_hla6','donor_hla7','donor_hla8','patient_single_cl1', 'patient_single_cl2', 'patient_mixed_cl1', 'patient_mixed_cl2',
                'epv_result', 'patient_hla0', 'patient_hla1', 'patient_hla2', 'patient_hla3', 'patient_hla4', 'patient_hla5',
                'cdc_result']]

In [24]:
def classificarColunaDfMod(nome):
    data_array = []
    dict_dif_data = {}

    for x in df_mod[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df[nome])):
        if str(dict_dif_data[df_mod[nome][x]]) == 'nan':
            continue
        else:
            df_mod[nome][x] = str(dict_dif_data[df_mod[nome][x]])

In [25]:
df_mod = df_mod[df_mod['patient_mixed_cl1'].str.contains("-") == False]
df_mod = df_mod[df_mod['patient_mixed_cl2'].str.contains("-") == False]
df_mod = df_mod[df_mod['patient_single_cl1'].str.contains("-") == False]
df_mod = df_mod[df_mod['patient_single_cl2'].str.contains("-") == False]
df_mod = df_mod[df_mod['epv_result'].str.contains("-") == False]

In [26]:
df_mod['patient_single_cl1'] = df_mod['patient_single_cl1'].astype('int64')
df_mod['patient_single_cl2'] = df_mod['patient_single_cl2'].astype('int64')
df_mod['patient_mixed_cl1'] = df_mod['patient_mixed_cl1'].astype('int64')
df_mod['patient_mixed_cl2'] = df_mod['patient_mixed_cl2'].astype('int64')
df_mod['epv_result'] = df_mod['epv_result'].astype('int64')
df_mod['cdc_result'] = df_mod['cdc_result'].astype('int64')

In [27]:
def unique(list1):
      
    # insert the list to the set
    list_set = set(df_mod[list1])
    # convert the set to the list
    unique_list = (list(list_set))
    
    return unique_list

In [28]:
donor_hla0 = unique('donor_hla0')
donor_hla1 = unique('donor_hla1')
donor_hla2 = unique('donor_hla2')
donor_hla3 = unique('donor_hla3')
donor_hla4 = unique('donor_hla4')
donor_hla5 = unique('donor_hla5')
donor_hla6 = unique('donor_hla6')
donor_hla7 = unique('donor_hla7')
donor_hla8 = unique('donor_hla8')
patient_single_cl1 = unique('patient_single_cl1')
patient_single_cl2 = unique('patient_single_cl2')
patient_mixed_cl1 = unique('patient_mixed_cl1')
patient_mixed_cl2 = unique('patient_mixed_cl2')
epv_result = unique('epv_result')
cdc_result = unique('cdc_result')

In [29]:
patient_hla0 = unique('patient_hla0')
patient_hla1 = unique('patient_hla1')
patient_hla2 = unique('patient_hla2')
patient_hla3 = unique('patient_hla3')
patient_hla4 = unique('patient_hla4')
patient_hla5 = unique('patient_hla5')

In [30]:
df_mod.head(10)

,donor_hla0,donor_hla1,donor_hla2,donor_hla3,donor_hla4,donor_hla5,donor_hla6,donor_hla7,donor_hla8,patient_single_cl1,...,patient_mixed_cl1,patient_mixed_cl2,epv_result,patient_hla0,patient_hla1,patient_hla2,patient_hla3,patient_hla4,patient_hla5,cdc_result
0,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01,0,...,1,1,0,A*29:02/A*30:02,B*51:01/B*58:01,DRB1*13:01/DRB1*15:01,DRB3*01:01/DRB5*01:01,DQA1*01:03/DQA1*01:02,DQB1*06:03/DQB1*06:02,0
2,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01,2,...,1,0,1,A*03:01/A*23:01,B*07:02/B*07:05,DRB1*07:01/DRB1*15:03,DRB4*01:01/DRB5*01:01,DQA1*02:01/DQA1*01:02,DQB1*02:02/DQB1*06:02,1
8,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01,5,...,1,0,0,A*02:01/A*23:01,B*41:01/B*44:03,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*02:01/DQA1*01:02,DQB1*02:02/DQB1*06:02,0
13,A*31:01/A*31:01,B*15:01/B*35:01,CW*03:03/CW*04:01,DRB1*04:01/DRB1*14:33,DRB4*01:01/DRB4*01:01,DQA1*03:01/DQA1*03:01,DQB1*02:02/DQB1*03:02,DPA1*01:03/DPA1*02:02,DPB1*02:01/DPB1*05:01,6,...,1,1,1,A*30:02/A*68:01,B*18:01/B*35:01,DRB1*08:01/DRB1*14:01,DRB3*02:02/DQA1*04:01,DQA1*01:04/DQB1*04:02,DQB1*05:03/-,0
16,A*31:01/A*31:01,B*15:01/B*35:01,CW*03:03/CW*04:01,DRB1*04:01/DRB1*14:33,DRB4*01:01/DRB4*01:01,DQA1*03:01/DQA1*03:01,DQB1*02:02/DQB1*03:02,DPA1*01:03/DPA1*02:02,DPB1*02:01/DPB1*05:01,8,...,1,1,0,A*24:02/A*30:09,B*15:16/B*35:08,DRB1*14:01/DRB1*14:01,DRB3*02:02/DRB3*02:02,DQA1*01:04/DQA1*01:04,DQB1*05:03/DQB1*05:03,0
17,A*31:01/A*31:01,B*15:01/B*35:01,CW*03:03/CW*04:01,DRB1*04:01/DRB1*14:33,DRB4*01:01/DRB4*01:01,DQA1*03:01/DQA1*03:01,DQB1*02:02/DQB1*03:02,DPA1*01:03/DPA1*02:02,DPB1*02:01/DPB1*05:01,9,...,1,1,0,A*02:01/A*24:02,B*35:05/B*39:09,DRB1*04:11/DRB1*14:06,DRB3*01:01/DRB4*01:01,DQA1*05:01/DQB1*03:02,DQB1*03:01/-,0
18,A*24:02/A*33:01,B*14:02/B*57:01,DRB1*07:01/DRB1*16:03,DRB4*01:01/DQA1*02:01,DQB1*02:02/-,-/-,-/-,-/-,-/-,5,...,1,1,0,A*01:01/A*01:01,B*15:01/B*51:01,DRB1*13:01/DRB1*16:01,DRB3*01:01/DRB5*02:02,DQA1*01:03/DQA1*01:02,DQB1*06:03/DQB1*05:02,0
19,A*24:02/A*33:01,B*14:02/B*57:01,DRB1*07:01/DRB1*16:03,DRB4*01:01/DQA1*02:01,DQB1*02:02/-,-/-,-/-,-/-,-/-,10,...,1,0,0,A*03:01/A*26:01,B*07:02/B*08:01,DRB1*13:01/DRB1*16:02,DRB3*01:01/DRB5*02:02,DQA1*01:03/DQA1*05:01,DQB1*06:03/DQB1*03:01,0
21,A*24:02/A*33:01,B*14:02/B*57:01,DRB1*07:01/DRB1*16:03,DRB4*01:01/DQA1*02:01,DQB1*02:02/-,-/-,-/-,-/-,-/-,11,...,1,1,1,A*30:01/A*68:02,B*07:02/B*15:47,CW*02:02/CW*07:02,DRB1*15:03/DRB1*15:03,DRB5*01:01/DRB5*01:01,DQA1*01:01/DQA1*01:02,0
26,A*24:02/A*33:01,B*14:02/B*57:01,DRB1*07:01/DRB1*16:03,DRB4*01:01/DQA1*02:01,DQB1*02:02/-,-/-,-/-,-/-,-/-,12,...,1,1,1,A*23:01/A*68:02,B*14:02/B*44:03,DRB1*07:01/DRB1*11:02,DRB3*02:02/DRB4*01:01,DQA1*02:01/DQA1*05:01,DQB1*02:02/DQB1*03:01,0

In [31]:
#temp_df = []
#for row in df_mod.itertuples(index=False):
#    if row.cdc_result:
#        temp_df.extend([list(row)]*2) ## duplicar/triplicar o número de linhas com 1 para rearranjar o data frame
#    else:
#        temp_df.append(list(row))

#df_mod = pd.DataFrame(temp_df, columns=df_mod.columns)

In [32]:
df_mod

,donor_hla0,donor_hla1,donor_hla2,donor_hla3,donor_hla4,donor_hla5,donor_hla6,donor_hla7,donor_hla8,patient_single_cl1,...,patient_mixed_cl1,patient_mixed_cl2,epv_result,patient_hla0,patient_hla1,patient_hla2,patient_hla3,patient_hla4,patient_hla5,cdc_result
0,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01,0,...,1,1,0,A*29:02/A*30:02,B*51:01/B*58:01,DRB1*13:01/DRB1*15:01,DRB3*01:01/DRB5*01:01,DQA1*01:03/DQA1*01:02,DQB1*06:03/DQB1*06:02,0
2,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01,2,...,1,0,1,A*03:01/A*23:01,B*07:02/B*07:05,DRB1*07:01/DRB1*15:03,DRB4*01:01/DRB5*01:01,DQA1*02:01/DQA1*01:02,DQB1*02:02/DQB1*06:02,1
8,A*03:01/A*80:01,B*35:03/B*44:03,CW*04:01/CW*04:01,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*02:01,DQB1*02:02/DQB1*06:02,DPA1*01:03/DPA1*01:03,DPB1*02:01/DPB1*13:01,5,...,1,0,0,A*02:01/A*23:01,B*41:01/B*44:03,DRB1*07:01/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*02:01/DQA1*01:02,DQB1*02:02/DQB1*06:02,0
13,A*31:01/A*31:01,B*15:01/B*35:01,CW*03:03/CW*04:01,DRB1*04:01/DRB1*14:33,DRB4*01:01/DRB4*01:01,DQA1*03:01/DQA1*03:01,DQB1*02:02/DQB1*03:02,DPA1*01:03/DPA1*02:02,DPB1*02:01/DPB1*05:01,6,...,1,1,1,A*30:02/A*68:01,B*18:01/B*35:01,DRB1*08:01/DRB1*14:01,DRB3*02:02/DQA1*04:01,DQA1*01:04/DQB1*04:02,DQB1*05:03/-,0
16,A*31:01/A*31:01,B*15:01/B*35:01,CW*03:03/CW*04:01,DRB1*04:01/DRB1*14:33,DRB4*01:01/DRB4*01:01,DQA1*03:01/DQA1*03:01,DQB1*02:02/DQB1*03:02,DPA1*01:03/DPA1*02:02,DPB1*02:01/DPB1*05:01,8,...,1,1,0,A*24:02/A*30:09,B*15:16/B*35:08,DRB1*14:01/DRB1*14:01,DRB3*02:02/DRB3*02:02,DQA1*01:04/DQA1*01:04,DQB1*05:03/DQB1*05:03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922,A*24:02/A*32:01,B*07:02/B*40:02,CW*02:02/CW*07:02,DRB1*04:05/DRB1*15:01,DRB4*01:01/DRB5*01:01,DQA1*01:02/DQA1*03:01,DQB1*03:02/DQB1*06:02,DPA1*01:03/DPA1*02:01,DPB1*04:01/DPB1*13:01,179,...,1,0,1,A*03:01/A*30:02,B*07:02/B*13:02,CW*03:04/CW*08:01,DRB1*08:04/DRB1*15:01,DRB5*01:01/DRB5*01:01,DQA1*01:02/DQA1*04:01,1
923,A*02:01/A*23:01,B*44:03/B*51:01,CW*04:01/CW*14:02,DRB1*07:01/DRB1*08:01,DRB4*01:01/DRB4*01:01,DQA1*02:01/DQA1*04:01,DQB1*02:02/DQB1*04:02,DPA1*01:03/DPA1*02:01,DPB1*04:01/DPB1*13:01,5,...,1,1,0,A*02:01/A*11:01,B*15:01/B*51:01,DRB1*08:02/DRB1*14:06,DRB3*01:01/DQA1*04:01,DQA1*05:01/DQB1*04:02,DQB1*03:01/-,0
929,A*03:01/A*74:01,B*35:01/B*53:01,DRB1*11:01/DRB1*15:03,DRB3*02:02/DRB5*01:01,DQA1*05:01/DQA1*01:02,DQB1*03:01/DQB1*06:02,-/-,-/-,-/-,3,...,0,1,0,A*02:01/A*03:01,B*14:01/B*35:08,DRB1*11:01/DRB1*12:01,DRB3*02:02/DRB3*02:02,DQA1*05:01/DQA1*05:01,DQB1*03:01/DQB1*03:01,0
937,A*02:01/A*29:02,B*44:02/B*44:03,CW*05:01/CW*16:01,DRB1*01:01/DRB1*07:01,DRB4*01:01/DRB4*01:01,DQA1*01:01/DQA1*02:01,DQB1*02:02/DQB1*05:01,DPA1*02:01/DPA1*02:01,DPB1*10:01/DPB1*11:01,5,...,0,1,0,A*01:01/A*02:01,B*14:02/B*35:01,DRB1*01:01/DRB1*13:01,DRB3*01:01/DQA1*01:01,DQA1*01:03/DQB1*05:01,DQB1*06:03/-,0
938,A*02:01/A*29:02,B*44:02/B*44:03,CW*05:01/CW*16:01,DRB1*01:01/DRB1*07:01,DRB4*01:01/DRB4*01:01,DQA1*01:01/DQA1*02:01,DQB1*02:02/DQB1*05:01,DPA1*02:01/DPA1*02:01,DPB1*10:01/DPB1*11:01,5,...,0,0,0,A*02:01/A*31:01,B*35:01/B*51:01,DRB1*01:01/DRB1*07:01,DRB4*01:01/DQA1*01:01,DQA1*02:01/DQB1*05:01,DQB1*02:02/-,0

In [33]:
count0 = (df_mod['cdc_result'] == 0).sum()
count1 = (df_mod['cdc_result'] == 1).sum()

In [34]:
df_mod = pd.get_dummies(df_mod)

In [35]:
df_mod.head(5)

,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result,donor_hla0_A*01:01/A*01:01,donor_hla0_A*01:01/A*02:01,donor_hla0_A*01:01/A*03:01,donor_hla0_A*01:01/A*11:01,...,patient_hla5_DQB1*06:03/DQB1*05:02,patient_hla5_DQB1*06:03/DQB1*06:01,patient_hla5_DQB1*06:03/DQB1*06:02,patient_hla5_DQB1*06:03/DQB1*06:03,patient_hla5_DQB1*06:03/DQB1*06:04,patient_hla5_DQB1*06:04/-,patient_hla5_DQB1*06:04/DQB1*06:02,patient_hla5_DQB1*06:04/DQB1*06:04,patient_hla5_DRB4*01:01/DQA1*01:01,patient_hla5_DRB5*01:01/DQA1*01:02
0,0,0,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,2,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,6,4,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,8,6,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.utils import resample,shuffle

#labels = df_mod['cdc_result']
#df_mod = df_mod.drop('cdc_result', axis = 1)
#feature_list = list(df_mod.columns)

#X_train, X_test, y_train, y_test = train_test_split(df_mod, labels, test_size = 0.30, random_state = 42)

In [38]:
#print('Training Features Shape:', X_train.shape)
#print('Training Labels Shape:', y_train.shape)
#print('Testing Features Shape:', X_test.shape)
#print('Testing Labels Shape:', y_test.shape)

In [39]:
count_class_0, count_class_1 = df_mod.cdc_result.value_counts()

df_class_0 = df_mod[df_mod['cdc_result'] == 0]
df_class_1 = df_mod[df_mod['cdc_result'] == 1]

df_class_0_under = df_class_0.sample(count_class_1)
df_test_under = pd.concat([df_class_0_under, df_class_1], axis=0)

df_1_upsampled = resample(df_class_1, random_state=42, n_samples=len(df_class_0), replace=True)
df_upsampled = pd.concat([df_1_upsampled, df_class_0])
df_upsampled.cdc_result.value_counts()

1    287
0    287
Name: cdc_result, dtype: int64

In [40]:
df_upsampled

,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result,donor_hla0_A*01:01/A*01:01,donor_hla0_A*01:01/A*02:01,donor_hla0_A*01:01/A*03:01,donor_hla0_A*01:01/A*11:01,...,patient_hla5_DQB1*06:03/DQB1*05:02,patient_hla5_DQB1*06:03/DQB1*06:01,patient_hla5_DQB1*06:03/DQB1*06:02,patient_hla5_DQB1*06:03/DQB1*06:03,patient_hla5_DQB1*06:03/DQB1*06:04,patient_hla5_DQB1*06:04/-,patient_hla5_DQB1*06:04/DQB1*06:02,patient_hla5_DQB1*06:04/DQB1*06:04,patient_hla5_DRB4*01:01/DQA1*01:01,patient_hla5_DRB5*01:01/DQA1*01:02
609,136,93,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
185,59,2,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
759,156,2,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,73,2,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,77,6,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,5,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
923,5,144,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
929,3,6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
937,5,145,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
938,5,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
labels = df_upsampled['cdc_result'].to_numpy()
df_upsampled = df_upsampled.drop('cdc_result', axis = 1).to_numpy()

X_train, X_test, y_train, y_test = train_test_split(df_upsampled, labels, test_size = 0.40, random_state = 42)

In [42]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (344, 1587)
Training Labels Shape: (344,)
Testing Features Shape: (230, 1587)
Testing Labels Shape: (230,)

In [43]:
#y = df_upsampled.cdc_result
#X = df_upsampled.drop('cdc_result', axis=1)

In [47]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, Normalizer
from sklearn.decomposition import PCA as sklearnPCA

In [48]:
enter = list(X_train[0].shape)[0]

In [49]:
import numpy as np
import random

In [50]:
y_train = np.expand_dims(y_train,axis=-1)
y_test = np.expand_dims(y_test,axis=-1)

In [60]:
print("===========Data Summary===========")
print("Training Data :", X_train.shape)
print("Testing Data :", X_test.shape)

seeds = []
accur = []

for i in range(10):
    my_seed = random.randint(0, 12000)
    stop = []
    print("=========== RUN " + str(i) + "=================================================")
    X = tf.placeholder(tf.float32, [None, 1587])
    Y = tf.placeholder(tf.float32, [None, 1])

    #INPUT
    W1 = tf.Variable(tf.random_normal([1587,100], seed=my_seed), name='weight1')
    b1 = tf.Variable(tf.random_normal([100], seed=my_seed), name='bias1')
    layer1 = tf.nn.sigmoid(tf.matmul(X,W1) + b1)

    #HIDDEN 1
    W2 = tf.Variable(tf.random_normal([100,50], seed=my_seed), name='weight2')
    b2 = tf.Variable(tf.random_normal([50], seed=my_seed), name='bias2')
    layer2 = tf.nn.sigmoid(tf.matmul(layer1,W2) + b2)

    #HIDDEN 2
    W3 = tf.Variable(tf.random_normal([50,50], seed=my_seed), name='weight3')
    b3 = tf.Variable(tf.random_normal([50], seed=my_seed), name='bias3')
    layer3 = tf.nn.sigmoid(tf.matmul(layer2,W3) + b3)

    # output
    W4 = tf.Variable(tf.random_normal([50,1], seed=my_seed), name='weight4')
    b4 = tf.Variable(tf.random_normal([1], seed=my_seed), name='bias4')

    logits = tf.matmul(layer3,W4) + b4
    hypothesis = tf.nn.sigmoid(logits)


    cost_i = tf.nn.sigmoid_cross_entropy_with_logits(logits=logits,labels=Y)
    cost = tf.reduce_mean(cost_i)

    train = tf.train.GradientDescentOptimizer(learning_rate=0.001).minimize(cost)

    prediction = tf.cast(hypothesis > 0.5, dtype=tf.float32)
    correct_prediction = tf.equal(prediction, Y)
    accuracy = tf.reduce_mean(tf.cast(correct_prediction, dtype=tf.float32))

    print("\n============Processing============")
    with tf.Session() as sess:
        sess.run(tf.global_variables_initializer())
        for step in range(500001):
            sess.run(train, feed_dict={X: X_train, Y: y_train})
            if step % 100 == 0:
                loss, acc = sess.run([cost, accuracy], feed_dict={X: X_train, Y: y_train})
                stop.append(acc)
                if len(stop) == 3:
                #if stop[2] - stop[1] <= 0.0005 and stop[2] - stop[0] <= 0.001:
                    if stop[1] + 0.00005 >= stop[2] and stop[1] - 0.00005 <= stop[0]:
                        print('==== EARLY STOP ====')
                        break
                    else:
                        stop = []

                print("Step: {:5}\tLoss: {:.3f}\tAcc: {:.5%}".format(step, loss, acc))

        train_acc = sess.run(accuracy, feed_dict={X: X_train, Y: y_train})
        test_acc,test_predict,test_correct = sess.run([accuracy,prediction,correct_prediction], feed_dict={X: X_test, Y: y_test})

        tupla = (train_acc*100, my_seed)
        accur.append(tupla)
        print("\n============Results============")
        print("Model Prediction =", train_acc)
        print("Test Prediction =", test_acc)

print("\n============Final Results============")
print("Model Prediction + Seed =", max(accur))

===========Data Summary===========
Training Data : (344, 1587)
Testing Data : (230, 1587)
=========== RUN 0=================================================

============Processing============
Step:     0	Loss: 1.678	Acc: 43.60465%
Step:   100	Loss: 1.348	Acc: 47.67442%
Step:   200	Loss: 1.193	Acc: 50.58140%
Step:   300	Loss: 1.081	Acc: 51.74419%
Step:   400	Loss: 0.986	Acc: 55.52326%
Step:   500	Loss: 0.914	Acc: 56.39535%
Step:   600	Loss: 0.853	Acc: 58.43023%
Step:   700	Loss: 0.798	Acc: 59.88372%
Step:   800	Loss: 0.749	Acc: 60.17442%
Step:   900	Loss: 0.696	Acc: 62.20930%
Step:  1000	Loss: 0.661	Acc: 65.98837%
Step:  1100	Loss: 0.639	Acc: 69.47674%
Step:  1200	Loss: 0.620	Acc: 70.93023%
Step:  1300	Loss: 0.602	Acc: 71.22093%
Step:  1400	Loss: 0.583	Acc: 73.25581%
Step:  1500	Loss: 0.567	Acc: 74.41860%
Step:  1600	Loss: 0.552	Acc: 75.29070%
Step:  1700	Loss: 0.541	Acc: 75.58140%
Step:  1800	Loss: 0.532	Acc: 75.58140%
Step:  1900	Loss: 0.522	Acc: 75.29070%
Step:  2000	Loss: 0.514	Acc: 75.58140%
Step:  2100	Loss: 0.505	Acc: 75.58140%
Step:  2200	Loss: 0.498	Acc: 75.87209%
Step:  2300	Loss: 0.491	Acc: 75.87209%
Step:  2400	Loss: 0.484	Acc: 76.45349%
Step:  2500	Loss: 0.478	Acc: 77.32558%
Step:  2600	Loss: 0.470	Acc: 81.39535%
Step:  2700	Loss: 0.462	Acc: 81.68604%
Step:  2800	Loss: 0.457	Acc: 82.55814%
Step:  2900	Loss: 0.452	Acc: 83.43023%
Step:  3000	Loss: 0.448	Acc: 83.43023%
Step:  3100	Loss: 0.444	Acc: 83.72093%
Step:  3200	Loss: 0.440	Acc: 83.72093%
Step:  3300	Loss: 0.437	Acc: 83.72093%
Step:  3400	Loss: 0.433	Acc: 83.72093%
==== EARLY STOP ====

============Results============
Model Prediction = 0.8372093
Test Prediction = 0.79130435
=========== RUN 1=================================================

============Processing============
Step:     0	Loss: 1.906	Acc: 47.67442%
Step:   100	Loss: 1.359	Acc: 46.51163%
Step:   200	Loss: 1.007	Acc: 49.41860%
Step:   300	Loss: 0.820	Acc: 53.77907%
Step:   400	Loss: 0.725	Acc: 60.46512%
Step:   500	Loss: 0.676	Acc: 65.69768%
Step:   600	Loss: 0.641	Acc: 68.02326%
Step:   700	Loss: 0.617	Acc: 71.22093%
Step:   800	Loss: 0.592	Acc: 70.63953%
Step:   900	Loss: 0.569	Acc: 74.70930%
Step:  1000	Loss: 0.553	Acc: 73.25581%
Step:  1100	Loss: 0.542	Acc: 73.83721%
Step:  1200	Loss: 0.530	Acc: 75.58140%
Step:  1300	Loss: 0.518	Acc: 76.45349%
Step:  1400	Loss: 0.509	Acc: 77.03488%
Step:  1500	Loss: 0.502	Acc: 77.03488%
Step:  1600	Loss: 0.495	Acc: 77.90698%
Step:  1700	Loss: 0.490	Acc: 79.36047%
Step:  1800	Loss: 0.486	Acc: 79.65117%
Step:  1900	Loss: 0.481	Acc: 79.65117%
Step:  2000	Loss: 0.476	Acc: 79.94186%
Step:  2100	Loss: 0.472	Acc: 80.23256%
Step:  2200	Loss: 0.468	Acc: 81.10465%
Step:  2300	Loss: 0.464	Acc: 80.52326%
Step:  2400	Loss: 0.461	Acc: 80.81396%
Step:  2500	Loss: 0.458	Acc: 80.52326%
==== EARLY STOP ====

============Results============
Model Prediction = 0.8052326
Test Prediction = 0.7304348
=========== RUN 2=================================================

============Processing============
Step:     0	Loss: 3.142	Acc: 47.67442%
Step:   100	Loss: 2.122	Acc: 52.61628%
Step:   200	Loss: 1.576	Acc: 52.32558%
Step:   300	Loss: 1.296	Acc: 44.18605%
Step:   400	Loss: 1.143	Acc: 43.89535%
==== EARLY STOP ====

============Results============
Model Prediction = 0.40697673
Test Prediction = 0.4347826
=========== RUN 3=================================================

============Processing============
Step:     0	Loss: 3.398	Acc: 47.67442%
Step:   100	Loss: 2.269	Acc: 48.25581%
Step:   200	Loss: 1.387	Acc: 47.96512%
Step:   300	Loss: 1.073	Acc: 50.87209%
Step:   400	Loss: 0.972	Acc: 50.58140%
Step:   500	Loss: 0.910	Acc: 53.48837%
Step:   600	Loss: 0.865	Acc: 54.65117%
Step:   700	Loss: 0.829	Acc: 55.52326%
Step:   800	Loss: 0.802	Acc: 57.26744%
Step:   900	Loss: 0.779	Acc: 57.84883%
Step:  1000	Loss: 0.758	Acc: 59.59302%
Step:  1100	Loss: 0.741	Acc: 60.46512%
Step:  1200	Loss: 0.726	Acc: 61.62791%
Step:  1300	Loss: 0.712	Acc: 62.50000%
Step:  1400	Loss: 0.699	Acc: 63.66279%
Step:  1500	Loss: 0.688	Acc: 67.44186%
Step:  1600	Loss: 0.677	Acc: 69.47674%
Step:  1700	Loss: 0.667	Acc: 70.05814%
Step:  1800	Loss: 0.658	Acc: 71.22093%
Step:  1900	Loss: 0.650	Acc: 71.80232%
Step:  2000	Loss: 0.642	Acc: 72.67442%
Step:  2100	Loss: 0.634	Acc: 72.67442%
Step:  2200	Loss: 0.627	Acc: 73.25581%
Step:  2300	Loss: 0.620	Acc: 73.83721%
Step:  2400	Loss: 0.614	Acc: 73.83721%
Step:  2500	Loss: 0.607	Acc: 74.12791%
Step:  2600	Loss: 0.601	Acc: 75.58140%
Step:  2700	Loss: 0.595	Acc: 75.87209%
Step:  2800	Loss: 0.589	Acc: 75.87209%
Step:  2900	Loss: 0.584	Acc: 76.45349%
Step:  3000	Loss: 0.578	Acc: 76.45349%
Step:  3100	Loss: 0.573	Acc: 76.74419%
Step:  3200	Loss: 0.568	Acc: 78.77907%
Step:  3300	Loss: 0.563	Acc: 79.06977%
Step:  3400	Loss: 0.558	Acc: 79.36047%
Step:  3500	Loss: 0.553	Acc: 79.94186%
Step:  3600	Loss: 0.548	Acc: 79.94186%
Step:  3700	Loss: 0.544	Acc: 79.94186%
Step:  3800	Loss: 0.539	Acc: 80.23256%
Step:  3900	Loss: 0.535	Acc: 80.52326%
Step:  4000	Loss: 0.531	Acc: 81.68604%
Step:  4100	Loss: 0.527	Acc: 81.68604%
Step:  4200	Loss: 0.524	Acc: 81.97674%
Step:  4300	Loss: 0.520	Acc: 82.84883%
Step:  4400	Loss: 0.517	Acc: 82.84883%
Step:  4500	Loss: 0.514	Acc: 82.84883%
Step:  4600	Loss: 0.511	Acc: 82.84883%
Step:  4700	Loss: 0.507	Acc: 83.43023%
Step:  4800	Loss: 0.504	Acc: 83.72093%
Step:  4900	Loss: 0.501	Acc: 84.01163%
Step:  5000	Loss: 0.498	Acc: 84.01163%
Step:  5100	Loss: 0.495	Acc: 84.30232%
Step:  5200	Loss: 0.493	Acc: 84.59302%
Step:  5300	Loss: 0.490	Acc: 84.59302%
Step:  5400	Loss: 0.487	Acc: 84.59302%
Step:  5500	Loss: 0.485	Acc: 84.59302%
==== EARLY STOP ====

============Results============
Model Prediction = 0.8459302
Test Prediction = 0.8043478
=========== RUN 4=================================================

============Processing============
Step:     0	Loss: 4.457	Acc: 47.67442%
Step:   100	Loss: 3.559	Acc: 47.67442%
==== EARLY STOP ====

============Results============
Model Prediction = 0.47674417
Test Prediction = 0.5347826
=========== RUN 5=================================================

============Processing============
Step:     0	Loss: 5.434	Acc: 47.67442%
Step:   100	Loss: 4.456	Acc: 47.67442%
==== EARLY STOP ====

============Results============
Model Prediction = 0.47674417
Test Prediction = 0.5347826
=========== RUN 6=================================================

============Processing============
Step:     0	Loss: 5.221	Acc: 47.67442%
Step:   100	Loss: 4.342	Acc: 47.67442%
==== EARLY STOP ====

============Results============
Model Prediction = 0.47674417
Test Prediction = 0.5347826
=========== RUN 7=================================================

============Processing============
Step:     0	Loss: 3.037	Acc: 47.67442%
Step:   100	Loss: 2.235	Acc: 47.67442%
Step:   200	Loss: 1.629	Acc: 47.96512%
Step:   300	Loss: 1.205	Acc: 50.87209%
Step:   400	Loss: 0.972	Acc: 53.48837%
Step:   500	Loss: 0.864	Acc: 54.94186%
Step:   600	Loss: 0.813	Acc: 55.52326%
Step:   700	Loss: 0.784	Acc: 52.32558%
Step:   800	Loss: 0.763	Acc: 52.90698%
Step:   900	Loss: 0.746	Acc: 55.81396%
Step:  1000	Loss: 0.730	Acc: 57.55814%
Step:  1100	Loss: 0.716	Acc: 58.72093%
Step:  1200	Loss: 0.703	Acc: 61.04651%
Step:  1300	Loss: 0.668	Acc: 61.62791%
Step:  1400	Loss: 0.653	Acc: 63.37209%
Step:  1500	Loss: 0.642	Acc: 64.82558%
Step:  1600	Loss: 0.634	Acc: 66.27907%
Step:  1700	Loss: 0.627	Acc: 67.73256%
Step:  1800	Loss: 0.621	Acc: 68.89535%
Step:  1900	Loss: 0.607	Acc: 69.76744%
Step:  2000	Loss: 0.600	Acc: 70.63953%
Step:  2100	Loss: 0.595	Acc: 71.22093%
Step:  2200	Loss: 0.590	Acc: 71.22093%
Step:  2300	Loss: 0.586	Acc: 72.09302%
Step:  2400	Loss: 0.582	Acc: 72.67442%
Step:  2500	Loss: 0.578	Acc: 72.96512%
Step:  2600	Loss: 0.574	Acc: 74.12791%
Step:  2700	Loss: 0.570	Acc: 74.70930%
Step:  2800	Loss: 0.567	Acc: 74.70930%
Step:  2900	Loss: 0.563	Acc: 75.00000%
Step:  3000	Loss: 0.560	Acc: 75.00000%
Step:  3100	Loss: 0.557	Acc: 74.70930%
Step:  3200	Loss: 0.554	Acc: 75.00000%
Step:  3300	Loss: 0.551	Acc: 75.00000%
Step:  3400	Loss: 0.549	Acc: 75.00000%
==== EARLY STOP ====

============Results============
Model Prediction = 0.75
Test Prediction = 0.75652176
=========== RUN 8=================================================

============Processing============
Step:     0	Loss: 0.917	Acc: 47.96512%
Step:   100	Loss: 0.774	Acc: 47.38372%
==== EARLY STOP ====

============Results============
Model Prediction = 0.44186047
Test Prediction = 0.42608696
=========== RUN 9=================================================

============Processing============
Step:     0	Loss: 4.158	Acc: 47.67442%
Step:   100	Loss: 2.971	Acc: 47.67442%
==== EARLY STOP ====

============Results============
Model Prediction = 0.47674417
Test Prediction = 0.5347826

============Final Results============
Model Prediction + Seed = (84.59302186965942, 9505)