In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('allvixm-val-data.csv', sep=';')

In [58]:
df.tail()

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result
864,416001,276416-150,"A*02:01,A*29:02,B*44:03,B*44:03,DRB1*07:01,DRB...",218860-2660,48,"A*24:02,A*31:01,B*27:05,B*48:01,DRB1*03:01,DRB...","A*02:01,A*02:03,A*02:06,A*68:02,A*69:01,B*15:0...","DRB1*11:01,DRB1*11:04,DQB1*04:01,DQB1*04:02,DQ...",1,1,1,1
886,413042,274832-126,"A*33:01,A*68:01,B*14:02,B*35:01,CW*04:01,CW*08...",158247-2660,53,"A*02:01,A*68:02,B*35:01,B*57:01,DRB1*01:01,DRB...","A*29:01,A*29:02,B*15:12,B*45:01","DRB1*09:02,DRB1*10:01,DRB1*14:01,DRB1*14:54,DR...",1,1,1,0
890,412943,274832-126,"A*33:01,A*68:01,B*14:02,B*35:01,CW*04:01,CW*08...",79045-2660,53,"A*02:01,A*26:01,B*15:03,B*38:01,CW*02:02,CW*12...","A*11:01,A*11:02,A*30:01,A*30:02,A*31:01","DQB1*03:01,DQB1*03:02,DQB1*03:03",1,1,0,0
893,411517,274567-126,"A*11:01,A*24:02,B*08:01,B*35:02,CW*04:01,CW*07...",254454-2660,89,"A*02:01,A*69:01,B*15:01,B*44:02,DRB1*13:01,DRB...","A*01:01,A*29:01,A*29:02","DRB1*04:01,DRB1*04:02,DRB1*04:04,DRB1*04:05,DR...",-,-,0,0
907,408321,272836-126,"A*02:01,A*26:01,B*18:01,B*39:05,CW*12:03,CW*12...",205756-2660,89,"A*02:01,A*68:02,B*15:31,B*39:02,DRB1*11:02,DRB...","A*23:01,A*24:02,A*24:03,A*25:01,A*29:01,B*27:0...","DRB1*03:01,DRB1*03:02,DRB1*07:01,DRB1*09:01,DR...",1,1,0,0

In [ ]:
def classificarColuna(nome):
    data_array = [] ## array para pegar todas os dados diferentes da coluna
    dict_dif_data = {} ## dict para classificar os 196 diferentes

    for x in df[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
                
    print(len(data_array))
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df[nome])):
        if str(dict_dif_data[df[nome][x]]) == 'NaN':
            continue
        else:
            df[nome][x] = str(dict_dif_data[df[nome][x]])

In [53]:
classificarColuna('patient_single_cl1')
classificarColuna('patient_single_cl2')

In [54]:
df_mod = df

In [55]:
df_mod

,id,donor_id,donor_hla,patient_id,patient_cpra,patient_hla,patient_single_cl1,patient_single_cl2,patient_mixed_cl1,patient_mixed_cl2,epv_result,cdc_result
0,558716,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",71334-2660,91,"A*29:02,A*30:02,B*51:01,B*58:01,DRB1*13:01,DRB...","A*01:01,A*02:01,A*02:03,A*02:06,A*11:01,A*11:0...","DPB1*01:01,DPB1*05:01,DPB1*03:01,DPB1*06:01,DP...",1,1,0,0
1,558658,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",205670-2660,75,"A*02:01,A*02:01,B*15:16,B*40:04,DRB1*07:01,DRB...","A*01:01,A*23:01,A*24:02,A*24:03,A*80:01","DRB1*13:03,DRB1*12:02,DRB1*14:54,DRB1*14:01,DR...",-,-,1,0
5,558654,308155-126,"A*03:01,A*80:01,B*35:03,B*44:03,CW*04:01,CW*04...",235944-2660,49,"A*02:01,A*74:01,B*35:01,B*50:01,DRB1*07:01,DRB...","A*23:01,A*24:02,A*24:03,A*25:01,A*29:01,B*27:0...","DRB1*03:01,DRB1*03:02,DRB1*08:01,DRB1*11:01,DR...",-,-,1,1
13,556942,307926-126,"A*31:01,A*31:01,B*15:01,B*35:01,CW*03:03,CW*04...",222584-2660,98,"A*30:02,A*68:01,B*18:01,B*35:01,DRB1*08:01,DRB...","A*01:01,A*03:01,A*11:01,A*11:02,A*23:01,A*24:0...","DRB1*01:01,DRB1*01:02,DRB1*01:03,DRB1*04:01,DR...",1,1,1,0
15,556938,307926-126,"A*31:01,A*31:01,B*15:01,B*35:01,CW*03:03,CW*04...",230774-2660,83,"A*24:02,A*30:02,B*14:02,B*44:02,DRB1*04:04,DRB...","A*01:01,A*02:01,A*02:03,A*02:06,A*03:01,A*11:0...","DRB1*07:01,DRB1*12:01,DRB1*12:02,DRB1*16:02,DR...",-,-,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
864,416001,276416-150,"A*02:01,A*29:02,B*44:03,B*44:03,DRB1*07:01,DRB...",218860-2660,48,"A*24:02,A*31:01,B*27:05,B*48:01,DRB1*03:01,DRB...","A*02:01,A*02:03,A*02:06,A*68:02,A*69:01,B*15:0...","DRB1*11:01,DRB1*11:04,DQB1*04:01,DQB1*04:02,DQ...",1,1,1,1
886,413042,274832-126,"A*33:01,A*68:01,B*14:02,B*35:01,CW*04:01,CW*08...",158247-2660,53,"A*02:01,A*68:02,B*35:01,B*57:01,DRB1*01:01,DRB...","A*29:01,A*29:02,B*15:12,B*45:01","DRB1*09:02,DRB1*10:01,DRB1*14:01,DRB1*14:54,DR...",1,1,1,0
890,412943,274832-126,"A*33:01,A*68:01,B*14:02,B*35:01,CW*04:01,CW*08...",79045-2660,53,"A*02:01,A*26:01,B*15:03,B*38:01,CW*02:02,CW*12...","A*11:01,A*11:02,A*30:01,A*30:02,A*31:01","DQB1*03:01,DQB1*03:02,DQB1*03:03",1,1,0,0
893,411517,274567-126,"A*11:01,A*24:02,B*08:01,B*35:02,CW*04:01,CW*07...",254454-2660,89,"A*02:01,A*69:01,B*15:01,B*44:02,DRB1*13:01,DRB...","A*01:01,A*29:01,A*29:02","DRB1*04:01,DRB1*04:02,DRB1*04:04,DRB1*04:05,DR...",-,-,0,0
907,408321,272836-126,"A*02:01,A*26:01,B*18:01,B*39:05,CW*12:03,CW*12...",205756-2660,89,"A*02:01,A*68:02,B*15:31,B*39:02,DRB1*11:02,DRB...","A*23:01,A*24:02,A*24:03,A*25:01,A*29:01,B*27:0...","DRB1*03:01,DRB1*03:02,DRB1*07:01,DRB1*09:01,DR...",1,1,0,0

In [44]:
def classificarColuna(nome, df_mod):
    data_array = [] ## array para pegar todas os dados diferentes da coluna
    dict_dif_data = {} ## dict para classificar os 196 diferentes

    for x in df_mod[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
                
    print(len(data_array))
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df_mod[nome])):
        if str(dict_dif_data[df_mod[nome][x]]) == 'NaN':
            continue
        else:
            df_mod[nome][x] = str(dict_dif_data[df_mod[nome][x]])

In [45]:
classificarColuna('patient_single_cl1', df_mod)
classificarColuna('patient_single_cl2', df_mod)

105

C:\Users\isac_\anaconda3\envs\gpu2\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyError: 2

In [ ]:
df_mod.head()

In [ ]:
def pares(iterable):
    a = iter(iterable)
    return zip(a, a)

In [ ]:
for x in range(6):
    df_mod['patient_hla'+str(x)] = " "
    
for x in range(9):
    df_mod['donor_hla'+str(x)] = " "

In [ ]:
df_mod.head()

In [ ]:
import time

In [ ]:
def classificarColuna(nome):
    data_array = [] ## array para pegar todas os dados diferentes da coluna
    dict_dif_data = {} ## dict para classificar os 196 diferentes

    for x in df[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
                
    print(len(data_array))
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df[nome])):
        if str(dict_dif_data[df[nome][x]]) == 'nan':
            continue
        else:
            df[nome][x] = str(dict_dif_data[df[nome][x]])

In [ ]:
classificarColuna('patient_single_cl1')
classificarColuna('patient_single_cl2')

In [ ]:
def dividir_patient_hla(j):
    transform = []
    for i in range(len(df_mod)):
        patient_hla = df_mod['patient_hla'][i].split(",")
        
        if len(patient_hla) < 12:
            for z in range(12 - len(patient_hla)):
                patient_hla.append("-")
                
        for x, y in pares(patient_hla):
            transform.append([x,y])
            
        df_mod['patient_hla'+str(j)][i] = ','.join(transform[j])
        transform = []

In [ ]:
def dividir_donor_hla(j):
    transform = []
    for i in range(len(df_mod)):
        donor_hla = df_mod['donor_hla'][i].split(",")
        
        if len(donor_hla) < 18:
            for z in range(18 - len(donor_hla)):
                donor_hla.append("-")
                
        for x, y in pares(donor_hla):
            transform.append([x,y])
            
        df_mod['donor_hla'+str(j)][i] = ','.join(transform[j])
        transform = []

In [ ]:
for i in range(6): # vai de 0 a 5
    dividir_patient_hla(i)

In [ ]:
for i in range(9): # vai de 0 a 8
    dividir_donor_hla(i)

In [ ]:
df_mod.drop('id', inplace=True, axis=1)
df_mod.drop('donor_id', inplace=True, axis=1)
df_mod.drop('patient_id', inplace=True, axis=1)
df_mod.drop('patient_cpra', inplace=True, axis=1)
df_mod.drop('patient_hla', inplace=True, axis=1)

In [ ]:
df['patient_hla0'] = df['patient_hla0'].str.replace(',','/')
df['patient_hla1'] = df['patient_hla1'].str.replace(',','/')
df['patient_hla2'] = df['patient_hla2'].str.replace(',','/')
df['patient_hla3'] = df['patient_hla3'].str.replace(',','/')
df['patient_hla4'] = df['patient_hla4'].str.replace(',','/')
df['patient_hla5'] = df['patient_hla5'].str.replace(',','/')

for i in range(9):
    df['donor_hla'+str(i)] = df['donor_hla'+str(i)].str.replace(',','/')

In [ ]:
df_mod.drop('donor_hla', inplace=True, axis=1)

In [ ]:
df_mod.head()

In [ ]:
df_mod = df_mod[['donor_hla0', 'donor_hla1', 'donor_hla2', 'donor_hla3', 'donor_hla4', 'donor_hla5', 'donor_hla6','donor_hla7','donor_hla8','patient_single_cl1', 'patient_single_cl2', 'patient_mixed_cl1', 'patient_mixed_cl2',
                'epv_result', 'patient_hla0', 'patient_hla1', 'patient_hla2', 'patient_hla3', 'patient_hla4', 'patient_hla5',
                'cdc_result']]

In [ ]:
def classificarColunaDfMod(nome):
    data_array = []
    dict_dif_data = {}

    for x in df_mod[nome]:
        if x not in data_array:
            if x == 'NaN':
                continue
            else:
                data_array.append(x)
    
    count = 0
    for x in data_array:
        dict_dif_data[x] = count
        count += 1
    
    for x in range(len(df[nome])):
        if str(dict_dif_data[df_mod[nome][x]]) == 'nan':
            continue
        else:
            df_mod[nome][x] = str(dict_dif_data[df_mod[nome][x]])

In [ ]:
df_mod = df_mod[df_mod['patient_mixed_cl1'].str.contains("-") == False]
df_mod = df_mod[df_mod['patient_mixed_cl2'].str.contains("-") == False]
df_mod = df_mod[df_mod['epv_result'].str.contains("-") == False]

In [ ]:
df_mod['patient_single_cl1'] = df_mod['patient_single_cl1'].astype('int64')
df_mod['patient_single_cl2'] = df_mod['patient_single_cl2'].astype('int64')
df_mod['patient_mixed_cl1'] = df_mod['patient_mixed_cl1'].astype('int64')
df_mod['patient_mixed_cl2'] = df_mod['patient_mixed_cl2'].astype('int64')
df_mod['epv_result'] = df_mod['epv_result'].astype('int64')
df_mod['cdc_result'] = df_mod['cdc_result'].astype('int64')

In [ ]:
def unique(list1):
      
    # insert the list to the set
    list_set = set(df_mod[list1])
    # convert the set to the list
    unique_list = (list(list_set))
    
    return unique_list

In [ ]:
donor_hla0 = unique('donor_hla0')
donor_hla1 = unique('donor_hla1')
donor_hla2 = unique('donor_hla2')
donor_hla3 = unique('donor_hla3')
donor_hla4 = unique('donor_hla4')
donor_hla5 = unique('donor_hla5')
donor_hla6 = unique('donor_hla6')
donor_hla7 = unique('donor_hla7')
donor_hla8 = unique('donor_hla8')
patient_single_cl1 = unique('patient_single_cl1')
patient_single_cl2 = unique('patient_single_cl2')
patient_mixed_cl1 = unique('patient_mixed_cl1')
patient_mixed_cl2 = unique('patient_mixed_cl2')
epv_result = unique('epv_result')
cdc_result = unique('cdc_result')

In [ ]:
patient_hla0 = unique('patient_hla0')
patient_hla1 = unique('patient_hla1')
patient_hla2 = unique('patient_hla2')
patient_hla3 = unique('patient_hla3')
patient_hla4 = unique('patient_hla4')
patient_hla5 = unique('patient_hla5')

In [ ]:
count0 = (df_mod['cdc_result'] == 0).sum()
count1 = (df_mod['cdc_result'] == 1).sum()

In [ ]:
df_mod = pd.get_dummies(df_mod)

In [ ]:
df_mod.head(10)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.utils import resample,shuffle

In [ ]:
count_class_0, count_class_1 = df_mod.cdc_result.value_counts()

df_class_0 = df_mod[df_mod['cdc_result'] == 0]
df_class_1 = df_mod[df_mod['cdc_result'] == 1]

df_class_0_under = df_class_0.sample(count_class_1)
df_test_under = pd.concat([df_class_0_under, df_class_1], axis=0)

df_1_upsampled = resample(df_class_1, random_state=42, n_samples=len(df_class_0), replace=True)
df_upsampled = pd.concat([df_1_upsampled, df_class_0])
df_upsampled.cdc_result.value_counts()

In [ ]:
df_upsampled

In [ ]:
labels = df_upsampled['cdc_result'].to_numpy()
df_upsampled = df_upsampled.drop('cdc_result', axis = 1).to_numpy()

X_train, X_test, y_train, y_test = train_test_split(df_upsampled, labels, test_size = 0.40, random_state = 42)

In [ ]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, Normalizer
from sklearn.decomposition import PCA as sklearnPCA

In [ ]:
enter = list(X_train[0].shape)[0]

In [ ]:
import numpy as np
import random

In [ ]:
y_train = np.expand_dims(y_train,axis=-1)
y_test = np.expand_dims(y_test,axis=-1)

In [ ]:
print("===========Data Summary===========")
print("Training Data :", X_train.shape)
print("Testing Data :", X_test.shape)

acc_for_mean = []
accur = []

node1 = 600
node2 = 300
node3 = 300

for i in range(1000):
    my_seed = random.randint(0, 12000)
    stop = []
    print("=========== RUN " + str(i) + "=================================================")
    X = tf.placeholder(tf.float32, [None, 1587])
    Y = tf.placeholder(tf.float32, [None, 1])

    #INPUT
    W1 = tf.Variable(tf.random_normal([1587,node1], seed=my_seed), name='weight1')
    b1 = tf.Variable(tf.random_normal([node1], seed=my_seed), name='bias1')
    layer1 = tf.nn.sigmoid(tf.matmul(X,W1) + b1)

    #HIDDEN 1
    W2 = tf.Variable(tf.random_normal([node1,node2], seed=my_seed), name='weight2')
    b2 = tf.Variable(tf.random_normal([node2], seed=my_seed), name='bias2')
    layer2 = tf.nn.sigmoid(tf.matmul(layer1,W2) + b2)

    #HIDDEN 2
    W3 = tf.Variable(tf.random_normal([node2,node3], seed=my_seed), name='weight3')
    b3 = tf.Variable(tf.random_normal([node3], seed=my_seed), name='bias3')
    layer3 = tf.nn.sigmoid(tf.matmul(layer2,W3) + b3)

    # output
    W4 = tf.Variable(tf.random_normal([node3,1], seed=my_seed), name='weight4')
    b4 = tf.Variable(tf.random_normal([1], seed=my_seed), name='bias4')

    logits = tf.matmul(layer3,W4) + b4
    hypothesis = tf.nn.sigmoid(logits)


    cost_i = tf.nn.sigmoid_cross_entropy_with_logits(logits=logits,labels=Y)
    cost = tf.reduce_mean(cost_i)

    train = tf.train.GradientDescentOptimizer(learning_rate=0.001).minimize(cost)

    prediction = tf.cast(hypothesis > 0.5, dtype=tf.float32)
    correct_prediction = tf.equal(prediction, Y)
    accuracy = tf.reduce_mean(tf.cast(correct_prediction, dtype=tf.float32))

    print("\n============Processing============")
    with tf.Session() as sess:
        sess.run(tf.global_variables_initializer())
        for step in range(500001):
            sess.run(train, feed_dict={X: X_train, Y: y_train})
            loss, acc = sess.run([cost, accuracy], feed_dict={X: X_train, Y: y_train})
            
            if acc >= 100.0:
                print('======== EARLY STOP 100 ============================================')
                break
                
            if step % 100 == 0:
                #loss, acc = sess.run([cost, accuracy], feed_dict={X: X_train, Y: y_train})
                stop.append(acc)
                if len(stop) == 3:
                    if stop[1] + 0.00005 >= stop[2] and stop[1] - 0.00005 <= stop[0]:
                        print('======== EARLY STOP =========')
                        break
                    else:
                        stop = []

                print("Step: {:5}\tLoss: {:.3f}\tAcc: {:.5%}".format(step, loss, acc))

        train_acc = sess.run(accuracy, feed_dict={X: X_train, Y: y_train})
        test_acc,test_predict,test_correct = sess.run([accuracy,prediction,correct_prediction], feed_dict={X: X_test, Y: y_test})

        tupla = (train_acc*100, my_seed)
        acc_for_mean.append(train_acc*100)
        accur.append(tupla)
        print("\n============Results============")
        print("Model Prediction =", train_acc)
        print("Test Prediction =", test_acc)

print("\n============Final Results============")
print("Best Model Prediction + Seed = ", max(accur))
print("Worst Model Prediction + Seed = ", min(accur))
print("Mean Model Prediction = ", np.mean(acc_for_mean))